* {
    padding: 0;
    margin: 0;
}
input[type=checkbox] {
  display: none;
} 

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
  color: rgb(255, 251, 251);}
.conmain{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url('images/cafe.jpg');
}
.logo img{
    height: 5%;
    width: 7%;
    float: left;
    background-image:linear-gradient( rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%);
    border-radius: 55%;}
  .logo h1{
    text-align: left;
    font-size: 20px;
    font-family: arial;
    color: rgb(187, 103, 7);
    padding-top: 5%;
    text-shadow: 2px 2px 4px rgb(187, 103, 7);
    width: 10%;}
/* style for navigation bar */
  /* .navi{
    width: 400px;
    float: left;
    height: 70px;}
  .navi ul {
     align-items: center;
     overflow: hidden;
     justify-content: center;
     float: left;
     display: flex;} */
   .navi ul li {
     list-style-type: none;
     margin-left: 62px;
     margin-top: 27px;
     font-size: 15px;
    float: left;}
  .navi li a {
     color:#817d7d;
     font-family: arial;
     font-weight: bold;
     padding-left:100px;
     padding-right:2px;
     padding-top: 50px;
     padding-bottom: 50px;
     text-decoration: none;}
   .navi li a:hover{color:rgb(77, 75, 75);}
   .main6{
    max-width:100%;
    height: 900px;
    background-image:linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url('images/last.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
    .main6 h1{
      padding-top: 50px;
      margin-left: 20px;
      font-size: 20px;
      color: #141212;
      font-style: italic;
      font-weight: bold;
      
    }
    .main6 address{
      margin-left: 20px;
      font-size: 20px;
      color: #141212;
      font-style: italic;
      font-weight: bold;
      word-spacing: 10px;
    }
    /* style the location map */
    .main6 iframe{
      width: 60%;
      height: 60%;
      border: none;
      border-radius:5%;
      opacity: 0.7;
      margin-left: 200px;
    }
    .last {
      width: 100%;
      height: 85px;
      background-color: #ee5d15;
      opacity: 0.7;
    }
    /* style the footer page */
    .last footer h1{
      padding-top: 20px;
      font-style: italic;
      font-weight: bold;
      font-size: 18px;
      background-color: #fa5c0c;
    }
    @media screen and (max-width:800px){
      .conmain{
        width: 100%;
        height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image:linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url('images/cafe.jpg');
      }
      .main6 {
        box-sizing: border-box;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url('images/last.jpg');
        background-size: cover;
        width:100%;
        height:650px;
        }
      
      .main6 h1 {
        padding-top: 10px;
        margin-left: 80px;
        font-size: 12px;
        color: #1d1c1c;
        font-style: italic;
        font-weight: bold;
      
      }
      
      .main6 p {
        margin-top: 0px;
        margin-left: 80px;
        font-size: 12px;
        color: #1b1a1a;
        font-style: italic;
        word-spacing: 2px;
      }
      
      /* style the location map */
      .main6 iframe {
        width: 75%;
        height: 30%;
        border: none;
        border-radius: 5%;
        opacity: 0.7;
        margin-left: 50px;
        margin-top: 0px;
      }
      .last {
        width: 100%;
        height: 70px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url('images/coffeebeans.jpg');
        opacity: 0.7;}
      .last footer h1{
        padding-top: 20px;
        font-style: italic;
        font-weight: bold;
        color: rgb(174, 175, 177);
        font-size: 11px;
       background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url('images/coffeebeans.jpg');;
      }
      .menu{
        display: none;
      }
      input[type=checkbox]:checked ~ .menu {
        display: block;
      }
      
      .hamburger {
        display: block;
        float: right;
      }
    }